@inherits LayoutComponentBase

<style>
    .centerLoginPanel{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
</style>

<MudLayout>
    <MudMainContent MaxWidth="@MaxWidth.Large" Class="mud-theme-secondary" style="height: 100%; display: flex;">
        <MudContainer Height="100%" class="centerLoginPanel">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>